@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google Fonts loaded via index.html */
body {
  background-color: #111111;
  color: #f0ece4;
  font-family: 'Oxygen', sans-serif;
}

html {
  scroll-behavior: smooth;
}
